@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

body:not(.elementor-editor-active) .anim {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.appoitment-form {
    max-width: 800px;
    margin: auto;
	padding:0px 20px 0px 20px;
	
    background: #ffffff;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    animation: fadeUp 0.9s ease-out;
}

/* Fade-up animation */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}