/* .footer {
  background: #0f0f0f;
  color: #ddd;
  margin-top: 80px;
  padding-top: 50px;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.footer-col h4 {
  color: #00ffcc;
  margin-bottom: 15px;
}

.footer-col p,
.footer-col a {
  color: #aaa;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  transition: 0.3s;
}

.footer-col a:hover {
  color: #00ffcc;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background: #000;
  margin-top: 40px;
  font-size: 14px;
  color: #777;
} */
